body{
    background-color: black;
}
h1{
    color: whitesmoke;
    background: linear-gradient( blue, red,black);
    padding: 20px;
}
pre{
    font-size: 3vw;
    color: crimson;
}
img{
    width: 200px;
}
